mat-card {
    overflow: auto;
}

.reset-button {
    margin-bottom: 20px;
}


.filter-section {
    margin-bottom: 24px;
}

.levels {
    max-width: 450px;
}

.level-checkbox {
    margin: 16px;
}

.filter-checkbox {
    padding-right: 16px;
}