mat-spinner {
    margin: 20px;
    display: inline;
}

.button-container {
    margin: 20px;
}

.drawer-container {
    height: 100%;
}

.drawer-content {
    max-height: 100%;
}

.drawer {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.darkmode-toggle {
    display: flex;
}

.darkmode-toggle mat-slide-toggle {
    margin: 0 4px;
}

.watch-checkbox {
    margin-left: 20px;
}